<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MeBlog</title>
    <link rel="stylesheet" href="https://unpkg.com/normalize.css@5.0.0/normalize.css" >
  </head>
  <body>
    <!-- TODO: server side rendering -->
    <div id="app"></div>
  </body>
</html>
